.team{
  margin-bottom: 60px;
  &__title{
    margin-bottom: 60px;
  }
  &__content-card{
    &-image{
      background-size: cover;
      background-position: center center;
      height: 400px;
      overflow: hidden;
      border-radius: $main-border-radius;
      margin-bottom: 15px;
    }
    &-person{
      a{
        display: inline-block;
        color: $main-color;
        font-weight:$font-bold;
        margin-bottom: 5px;
        &:hover{
          color:$accent-color;
        }
      }
      p{
        font-size: $font-ex-sm-size;
        line-height: 22px;
        color: $grey-text-color;
      }
    }
    &-link{
      padding: 8px 16px 12px;
      background-color: $grey-bg-color;
      border-radius: 50%;
      &:hover{
        background-color:$grey-bg-alt-color;
      }
    }
  }
}