.banner{
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../assets/icons/symbol.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
  h1{
    font-size: $font-xll-size;
    font-weight:$font-bold;
    line-height: 46px;
    color:$white-color;
  }
  &__scroll{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: $white-color;
  }
}