.modal{
  &-content{
    padding: 30px;
    input,
    textarea{
      padding: 15px;
      border: none;
      &:hover,
      &:focus{
        border: none;
        box-shadow: none;
      }
    }
    textarea{
      resize: none;
    }
    .btn-close{
      background-image: none;
      width: 32px;
      height: 32px;
      padding: 0;
      margin: 0 0 0 10px;
      &:hover{
        background-color: $grey-separator-color;
        border-radius: 6px;
        transition: $transition;
      }
    }
  }
  &-header{
    margin-bottom: 30px;
  }
  .modal__form{
    &-top,
    &-bottom{
      margin-bottom: 30px;
    }
    &-top,
    &-bottom{
      gap: 15px;
      h5{
        font-weight: $font-bold;
        font-size: $font-ex-sm-size;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $grey-text-color;
      }
    }
  }
}