.about{
  @media (max-width: 992px) {
    &__content-hero-wrapper{
      padding-left: 0;
    }
  }
}
.team-bg{
  @media (min-width: 1024px) and (max-width: 1200px) {
    & h1{
      font-size: 86px;
    }
  }
  @media (max-width: 1024px) {
    & h1{
      font-size: 46px;
      line-height: 56px;
    }
  }

  @media (max-width: 767px) {
    & h1{
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 13px;
    }
  }
}