.team-entry{
  @media (max-width: 1200px) {
    &__image{
      height: 375px;
    }
    &__content-title{
      ul{
        gap: 10px;
        & li:not(:last-child){
          &:after{
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    &__content-wrapper{
      padding: 0;
    }
  }
}